html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  background-color: #1F2833;
  color: #f1f1f1;
}

#background-img {
  background-image: url("imgs/background.jpg");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 50%;
}

.content {
  background-color: rgba(67, 74, 74, 0.723);
  -webkit-box-shadow: -2px 7px 23px 7px rgba(3, 3, 4, 1);
  -moz-box-shadow: -2px 7px 23px 7px rgba(3, 3, 4, 1);
  box-shadow: -2px 7px 23px 7px rgba(3, 3, 4, 1);
}

#profile-picture {
  background-image: url("imgs/profile.jpg");
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #f1f1f1;
}

.menu-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  padding: 20px;
  text-align: left;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(3, 3, 4, 1);
  -moz-box-shadow: 0px 0px 25px 3px rgba(3, 3, 4, 1);
  box-shadow: 0px 0px 25px 3px rgba(3, 3, 4, 1);
}

.content section {
  padding: 20px;
  position: relative;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#contact a {
  text-decoration: none;
  color: inherit;
}

#contact p {
  padding-left: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1125px) {
  #profile-picture {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 768px) {
  .column {
    float: left;
    width: 100%;
    padding: 10px;
  }

  .menu-text{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }

  #profile-picture  {
    float: left;
    width: 45%;
    margin-top: 10px;
  }

  nav {
    float: left;
    width: 45%;
    margin-left: 20px;
  }

  .menu-text #contact {
    order: -1;
  }
}

